<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Gestor</title>
</head>
<body>
    <h1>Olá caro Gestor</h1>
    <h3>Instruções:</h3>
    <ul>
        <li>
            <strong>Criar:</strong> adicione na barra de endereçoo seguinte parametro: users/create/ 
        </li>
        <li>
            <strong>Ler:</strong> adicione na barra de endereçoo seguinte parametro: users/
        </li>
        <li>
            <strong>Atualizar:</strong> adicione na barra de endereçoo seguinte parametro: users/ ID DO USER /update
        </li>
        <li>
            <strong>Deletar:</strong> adicione na barra de endereçoo seguinte parametro: users/ ID DO USER /Delete
        </li>
    </ul>
</body>
</html>